<div class="row">
  <ul>
    <li><a href="<%= url_for :action => 'edit' %>">Edit</a></li>
    <li>User: <%= @user.username %></li>
    <% if @user.telephone %>
      <li>Telephone: <%= @user.telephone.phony_formatted(:format => :international, :spaces => '-') %></li>
    <% end %>
    <% if @user.email %>
      <li>Email: <%= @user.email %></li>
    <% end %>
  </ul>
</div>
