<div class="row">
  <ul>
    <li><a href="<%= url_for :action => 'edit' %>">Edit</a></li>
    <li>User: <%= @user.username %></li>
    <li>Telephone: <%= @user.telephone.inspect %></li>
    <li>Email: <%= @user.email.inspect %></li>
  </ul>
</div>
