<div class="jumbotron">
  <h2>A site for helping people reach their dreams.</h2>
  <p>80640 minutes. Two months. This is what <a href="https://en.wikipedia.org/wiki/Strip_Search_(web_series)">Strip Search</a> creators <a href="https://en.wikipedia.org/wiki/Jerry_Holkins">Jerry Holkins</a> and <a href="https://en.wikipedia.org/wiki/Mike_Krahulik">Mike Krahulik</a> <a href="http://youtu.be/sWHIiECix_0?t=3m42s">gave the participants on their show</a> to create a web comic with a name, three character bios, six strips and a t-shirt design.</p>

  <p>Two Month Me! is an attempt to bring that &quot;kick in the pants&quot; into everyone else's side projects and dreams.</p>

  <p>
  <a href="/login" class="btn btn-lg btn-primary">Get Started!</a>
  </p>
</div>
