<div class="row">
  <div class="inner">
    <p>Create a <%= link_to "new goal", new_goal_path() %></a>.</p>
    <% @user.goals.each do |goal| %>
      <div class="goal">
        <h2 class="">Goal #<%= goal.id %>:</h2>
        <blockquote><%= goal.description %></blockquote>
      </div>

      <ul class="large-block-grid-4">
        <% goal.updates.each do |update| %>
          <li><%= update.content %></li>
        <% end %>
        <li>Text updates to 415-787-4493.</li>
      </ul>
    <% end %>
  </div>
</div>
