<div class="row">
  <div class="inner">
    <% @user.goals.each do |goal| %>
      <div class="goal">
        <h2 class="subheader">Goal #<%= goal.id %>:</h2>
        <blockquote><%= goal.description %></blockquote>
      </div>

      <ul class="large-block-grid-4">
        <% goal.updates do |update| %>
          <li><%= update.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
