$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$body-font-family: $helvetica !default;

body {
  font: $body-font-size $body-font-family;
  line-height: $body-line-height;
}

.application {
  @include outer-container;
}

.header {
  .logo {
    background: url('/img/clock.svg');
    background-repeat: no-repeat;

    .text {
      margin-left: 100px;
      font-weight: 700;
      font-size: 3em;
      line-height: 2em;
      vertical-align: baseline;
      height: 100px;
    }
  }
}


section {
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}
