$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$body-font-family: $helvetica !default;

body {
  font: $body-font-size $body-font-family;
  line-height: $body-line-height;
}

.application {
  @include outer-container;
  font: 1em "Merriweather", serif;
}

.header {
  .logo {
    background: url('/img/clock.svg');
    background-repeat: no-repeat;

    .text {
      font-size: 3em;
      font-weight: 700;
      height: 100px;
      line-height: 2.1em;
      margin-left: 100px;
      vertical-align: baseline;
    }
  }
}

.middle {
  @include span-columns(9);

  color: #81888D;
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
  margin-left: 100px;
  text-align: left;
  text-rendering: optimizelegibility;
}
