$body-font-size: 1em !default;
$body-line-height: golden-ratio(1em, 1) !default;
$body-font-family: $helvetica !default;

body {
  font: $body-font-size $body-font-family;
  line-height: $body-line-height;
  color: #231f20;
}

.application {
  font: 1em "Merriweather", serif;
}

.chunk {
  background-color: #865f81;
  color: #fffefe;
  margin: 40px -8px 0;
  padding: 20px 0 30px;

  .inner {
    @include outer-container;

    p {
      @include shift(1);
    }
  }
}

.header {
  @include outer-container;

  .logo {
    .one_col {
      img {
        width: 100%;
      }
    }

    .text {
      @include shift(1);
      font-size: 3.6em;
      font-weight: 700;
    }
  }
}

.one_col {
  @include span-columns(1);
}

.middle {
  @include outer-container;
  @include shift(1);

  color: #81888D;
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
  text-align: left;
  text-rendering: optimizelegibility;
}
